main/Kconfig.*
main/Kconfig
*Kconfig*

build/
.vscode/
sdkconfig
*.old
sdkonfig*
sdkconfig.defaults*
dependencies.lock
managed_components/
wifi_configs/
*.json

*.swp
*.swo
*#
.#*

*.bin
*.elf
*.map
*.lst
*.lss
*.sym

